extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

  script(type='text/javascript', src='/javascripts/controllers/TasksController.js')

block content
  div.container
    h1 DVTA
    div(ng-controller="TasksController")
      div(ng-repeat="task in tasks | filter:selected")
        span {{task.name}} : {{task.count}}
      hr
      div
        input(type="text" ng-model="selected" typeahead="task.name for task in tasks | filter:$viewValue | limitTo:8")

