extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

  script(type='text/javascript', src='/javascripts/controllers/TasksController.js')

block content
  div.container
    h1 DVTA
    div(ng-controller="TasksController")
      div(ng-repeat="task in tasks")
        span {{task.name}} : {{task.count}}
