extends layout

block head
	link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

	script(type='text/javascript', src='/javascripts/controllers/TasksController.js')
	script(type='text/javascript', src='/javascripts/controllers/CollapseDemoCtrl.js')

block content
	div.container
		div.top
			h1(class="main_title") DVTA
		hr
		div(class="bottom" ng-controller="TasksController")
			div(class="col-md-3" id="left-col")
				div(class="input-group input-group-lg" id="search-bar")
					input(type="search" class="form-control" placeholder ="Search" ng-model="selected" typeahead="task.name for task in tasks | filter:$viewValue | limitTo:8")
			div(class="col-md-6" id="mid-col")
				form(class="navbar-form navbar-left" role="search" id="add-bar")
					div(class="form-group")
						input(type="text" class="form-control" placeholder="Activity" id="activity-add-field" ng-model="new_name")
						input(type="text" class="form-control" placeholder="Count" id="count-add-field" ng-model="new_count")
					button(type="submit" class="btn btn-default" ng-click="add()") Submit
				div(ng-repeat="task in tasks | filter:selected")
					span.task {{task.name}} 
					span.count {{task.count}} 
					a
						span(class="glyphicon glyphicon-trash")     
					span(class="glyphicon glyphicon-pencil")      
					span(class="glyphicon glyphicon-signal")
			div(class="col-md-3" id="right-col")
				
