doctype 5
html(ng-app="dvta")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Monoton')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,800')

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')

    block head

  body
    block content